<div class="container">
    <h1>Créer un nouvel événement</h1>
    <form #eventForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <div class="col-md-12 mb-3">
                <label for="validationServer01">Nom de l'événement</label>
                <input type="text" class="form-control is-valid" id="validationServer01" value=""
                    [(ngModel)]="eventName" name="eventName" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label for="description">Description de l'événement</label>
                <textarea class="form-control" id="description" [(ngModel)]="description" name="description"
                    rows="3"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="startDate" class="col-2 col-form-label">Date et heure de début</label>
            <div class="col-10">
                <input class="form-control" type="datetime-local" [(ngModel)]="startDate" name="startDate"
                    id="startDate">
            </div>
        </div>
        <div class="form-group row">
            <label for="endDate" class="col-2 col-form-label">Date et heure de fin</label>
            <div class="col-10">
                <input class="form-control" type="datetime-local" [(ngModel)]="endDate" name="endDate" id="endDate">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="image">Image (sous forme d'URL)</label>
                <input type="text" class="form-control is-valid" id="image" [(ngModel)]="image" name="image" value=""
                    required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="type">Type d'événement</label>
                <select [(ngModel)]="eventType" (change)="onChangeType($event)">
                    <option *ngFor="let o of typeOptions" [value]="o">
                        {{o}}
                    </option>
                </select>
                <p>Selected option: {{ eventType }}</p>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="up"
                        [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="flexCheckDefault">
                        Mettre en avant l'événement ?
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12 mb-3">
                <label for="location">Lieu de l'événement</label>
                <input type="text" class="form-control is-valid" value="" [(ngModel)]="location" name="location"
                    required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="partner">Partenaire organisateur</label>
                <select [(ngModel)]="partners" (change)="onChangePartner($event)">
                    <option *ngFor="let o of partnerList" [value]="o._id">
                        {{o.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12 mb-3">
                <label for="link">Lien vers l'inscription à l'événement</label>
                <input type="text" class="form-control is-valid" value="" [(ngModel)]="link" name="link" required>
            </div>
        </div>
        <!-- <label for="file">File</label>
        <input 
            formControlName="file"
            id="file" 
            type="file" 
            class="form-control"
            (change)="onFileChange($event)"> -->
            <div class="row" *ngIf="!newPartner"> 
                <div class="d-inline p-2">
                    <button class="btn btn-primary " type="button" (click)="addPartner()">Ajouter un partenaire</button>
                </div>
            </div>
            <div class="container" *ngIf="newPartner">
                <h1>Créer un nouveau partenaire</h1>
                    <div class="form-group row">
                        <div class="col-md-12 mb-3">
                            <label for="name">Nom du partenaire</label>
                            <input type="text" class="form-control is-valid" id="validationServer01" value="" [(ngModel)]="name"
                                name="name" required>
                        </div>
                    </div>
        
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="logo">Image (sous forme d'URL)</label>
                            <input type="text" class="form-control is-valid" id="logo" [(ngModel)]="logo" name="logo" value=""
                                required>
                        </div>
                    </div>
    
            </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>

   
</div>