
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <a class="navbar-brand" routerLink=""><img src="../assets/logo-wanasso-complet.png" alt="Logo Wanasso"
          class="logo-icon"></a>
      <li *ngIf="isLoggedIn()" class="nav-item">
        <button class="nav-link" (click)="logout()">Déconnexion</button>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item">
        <button class="nav-link" href="#">Inscription</button>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>