
<div class="col-12 d-flex justify-content-center">
    <div class="d-inline p-2">
        <a class="btn btn-primary " type="button" routerLink="createEvent" >Créer un événement</a>
    </div>
    <div class="d-inline p-2">
        <a class="btn btn-primary d-inline" type="button" routerLink="createPartner" >Gérer les partenaires</a>
    </div>
    <div class="d-inline p-2">
        <a class="btn btn-primary d-inline" type="button" routerLink="files" >Gérer les images</a>
    </div>
</div>

<section id="gallery">
    <div class="container">
        <div class="row">
            <app-evenement *ngFor="let event of eventList" [event]="event" [source]="source" class="col-lg-4 mb-4">
            </app-evenement>
        </div>
    </div>
</section>